@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: Arial,微软雅黑;
  font-size:12px;
}
body {
  margin: 0;
  background-color: #353c48;
  width:100%;
  overflow: hidden;
}
.active{
	background:#1a2029 !important;
	color:#8b99b1 !important;
}

#canvas{
  position:absolute;
  z-index:-1;
}

/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #2a3039;
  color: #8b99b1;
  padding-bottom:10px;
  padding-left:30px;
  height:55px;
  box-sizing:border-box;
  vertical-align: middle;
}
#left-topnav{
	width:20%;
	padding-top:18px;
}
#right-topnav{
	width:80%;
	padding-top:18px;
}
.topnav-div{
	float:left;
}
.topnav-div2{
	float:right;
	padding-right:10px;
}
.topnav-div2:nth-child(1),.topnav-div2:nth-child(2){
	padding-left:10px;
	border-left: 1px solid #666;
}
#projectName{
	color:#bf7a6a;
	font-size:16px;
	font-weight:700;
}

#description{
	color:#bf7a6a;
	font-size: 14px;
}

.tokenDiv{
	color: #bf7a6a;
	font-weight:400;
}
.tokenDiv span,.tokenDiv input,.tokenDiv select{
	vertical-align:middle;
}

a:link{
   color:#6fb4ce;
   text-decoration: none;
   	}
a:visited{
   	color:#6fb4ce;
   	text-decoration: underline;
}
a:hover{
   	color:#f1f1f1;
   	text-decoration: none; 
	}
a:active{
     color:#8b99b1;
    text-decoration: none;
 }
.close-resposeData{
	text-align:left;
}
.close-resposeData span{
	color:#8b99b1;
}
.leave-a-note{
	height:100px;	
}
.main{
	width:100%;
	display:flex;
	height:100%;
	overflow:hidden;
}
#line{
	width:5px;
	height:auto;
	background:#2a3039;
	cursor: e-resize
}
#menu {
	background-color: #313742;
    cursor: default;
    overflow:hidden;
	height:100%;
    width:235px;
    min-width:185px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.right-box {
    margin-left:12px;
    flex:1;
	height:100%;
    overflow: auto;
}
#right-box-id >div{
	position:relative;
	width:99%;
}

#right-box-id >div  .method-ul{ 
	padding:0 !important;  
	z-index: 5;
	margin-left: 5px;
}
#change-style select{
	width:120px !important;
}
#menu #open {
    /*显示菜单样式*/
    width: auto;
    height: 100% !important;
    padding-bottom: 0.1rem;
    margin-top: 17px;
    box-sizing: border-box;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
}
.obtain{
	padding-bottom:6px;
  	padding-top:6px;
  	padding-left:15px;
  	margin-top:15px;
  	margin-bottom:-14px;
  	color: #8c96a5;
  	border-top:1px solid #4c5665;
  	border-radius:2px;
  	cursor:pointer;
  	font-size:14px;
  	font-family: 黑体;
  	font-weight:400;
  	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#menu #open .obtain img,#menu #open .obtain span{
	vertical-align:middle;
}
h5{
	padding-top:10px;
	display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;   /*显示行数*/
    font-weight:400;
}
.welcome{
	margin-left:10px; 
}
#menu #open .navBox {
     /* height: 100%; */ 
    height: calc(100vh - 20px); 
    /* overflow-y: auto; */
    overflow: auto;
    padding-left: 0.05rem;
    padding-right: 0.07rem;
    margin-top: -10px;
    margin-left:-8px;
    margin-right:8px;
}
#menu #open h3 img{
	margin-top:5px;
	vertical-align:bottom;
}
#menu #open h3 span:nth-child(2){
	margin-left:5px;
  	font-size:14px;
}
#menu #open .navBox ul{
	width:100%;
	margin-left:-10px;
	margin-top:-19px;
	margin-bottom:-10px;
	pointer-events:none;
}
#search-api{
	width:100%;
	background-color:#2a3039;
	padding-left:15px;
}
#search-text,#search-button{
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:15px;
}
#menu #open .navBox ul{
	padding-top:25px;
}
#menu #open .navBox ul li{
	height:30px;
	list-style: none;
    text-align: left;
    color: #8c96a5;
	cursor:pointer;
	margin-left:-25px;
	margin-bottom:-20px;
	margin-right:-10px;
	padding-left:20px;
	background-color:#2a3039;
	pointer-events:auto;
}

.obtain:hover{
	background-color:#1a2029;
	color: #f1f1f1;
}
#menu #open .navBox ul li:hover{
    background-color: #1a2029;
    color: #f1f1f1;
}
#menu #open .navBox ul li img,#menu #open .navBox ul li span{
	vertical-align:middle;
}

#menu #open .navBox ul li:first-child{
	margin-top:-25px;
}
#menu #open .navBox ul li:last-child{
	margin-bottom:25px;
}

#menu #open .navBox ul li .secondary {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}

.method-reqtype{
	margin-right:2px;
	display:inline;
	padding:3px;
	border-radius:2px;
}

.div-method-ul{
	background-color:#2a3039;
}

.method-ul{
	margin-top:20px;
}

.method-ul li{
	list-style: none;
	line-height: 35px;
	color: #bf7a6a;
	line-height:35px;
}
.method-requestParamInfo{
	padding-left:5px;
	margin-bottom:5px;
	
}
.method-ul li span:first-child{
	font-weight:700;
}
.method-ul li:first-child span:first-child{
	font-size:14px;
	padding-left:5px;
}
.method-ul li:first-child span:nth-child(3){
	padding:3px;
	border-radius:50px;
	font-size:12px;
}

.method-table{
	margin-top:-10px;
}

table.hovertable {
	font-size:12px;
	color:#8b99b1;
	border-width: 1px;
	border-color: #333;
	border-collapse: collapse;
	width: 100%;
	margin:0 auto;
	cursor:default;
	margin-bottom:12px;
	table-layout:fixed;
}
table.hovertable thead tr:first-child{
	
	border-width: 1px;
	padding: 6px;
	font-size: 12px;
	color:#8b99b1;
}
table.hovertable thead tr td{
	padding: 6px;
}
table.hovertable tbody tr {
	background-color:#2a3039;
}
table.hovertable tbody tr td {
	border-width: 1px;
	padding: 6px;
	border-bottom:1px solid #313742;
	word-wrap:break-word;
}
.reqcls tr:first-child td{
	text-align: center;
	border-bottom:1px solid #313742;
}
.respcls tr:first-child td{
	text-align: center;
	border-bottom:1px solid #313742;
}
.reqcls tr:first-child td,.respcls tr:first-child td{
	width:25%;
	font-size:16px;
	font-weight:700;
	background: #2a3039;
}
.reqcls tr:nth-child(2){
	border-bottom:1px solid #313742;
	background: #2a3039;
}
.respcls tr:nth-child(3){
	border-bottom:1px solid #313742;
	background: #2a3039;
}
.respcls{
	background: #2a3039;
}
.reqcls{
	background: #2a3039;
}
.add,.subtract { 
	width: 20px; 
	height: 20px; 
	border:#8b99b1 1px solid;
	background-color: #2a3039;
	cursor: pointer; 
	outline: none; 
	color: #8b99b1; 
	font-family: Microsoft YaHei; /* 设置字体 */
	margin-left:5px;
	font-weight:700;

}

.testSendButton,.switch-resp-json,.request-json{
	width: 120px; 
	height: 25px; 
	border:#8b99b1 1px solid;
	background-color: #2a3039;
	border-radius:20px;
	cursor: pointer; 
	outline: none; 
	color: #8b99b1; 
	font-family: Microsoft YaHei; /* 设置字体 */
	margin-left:5px;
	font-weight:700;
}
.add:hover,.subtract:hover,.testSendButton:hover,.switch-resp-json:hover,.request-json:hover,#modalconfirm:hover,#modalcancel:hover,.copyText:hover,#search-button:hover { /* 鼠标移入按钮范围时改变颜色 */
	border:#666 1px solid;
	background-color: #1a2029;
	color:#8b99b1;
}
.testSend td{
	text-align: center;
}
/* 文本框样式 */
.tdcss,.prevData,.headerKey,.headerValue,#search-text,.conutNumber,.timeNumber {
	width: 100px;
	height: 20px;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.428571429;
	color: #1a2029;
	vertical-align: middle;
	background-color: #8b99b1;
	/* opacity:0.5; */
	border: 1px solid #666;
	border-radius:50px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.reqdatatype{
	height: 25px;
	border: 0px solid #66afe9;
}
.tdcss:disabled,.prevData:disabled,.headerKey:disabled,.headerValue:disabled,.conutNumber:disabled,.timeNumber:disabled{
	color: #666;
	background-color: #333;
	/* opacity:0.5; */
}
.conutNumber,.timeNumber{
	width: 80px;
}
.tdcss,.prevData{
	width:100%;	
}
.tdcss:focus,.prevData:focus,.headerKey:focus,.headerValue:focus,#modaltype:focus,#modaltext:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#search-text{
	width: 60%;
}
#search-text:focus{
	border-color: #66afe9;
	outline: 0;
	width: 60%;
}
.resposeData,.requestData,.resposeDataJson td{
	background-color:#1a2029;
	color:#8b99b1;
	width:100%;
	font-weight:700;
}

.saveToken,#exportPdf,#search-button,#changeProjectButton,.copyText{ 
	width: 60px; 
	height: 20px; 
	border:#8b99b1 1px solid;
	background-color: #2a3039;
    color: #8b99b1;
	cursor: pointer; 
	border-radius:20px;
	font-family: Microsoft YaHei; /* 设置字体 */
	margin-left:5px;
	font-weight:700;
}

.saveToken:hover,#exportPdf:hover,#search-button:hover,#changeProjectButton:hover,.copyText:hover{
	color:#8b99b1;
	border:#8b99b1 1px solid;
	background-color:#1a2029;
}

#change-style{
	text-align:left;
	margin-right:20px;
}
#change-style select{
	width:100px;
	height:20px;
	border-width: 0px; 
	background-color:#f1f1f1;
	/* opacity:0.5; */
}

@keyframes modalopen{
    from {opacity: 0}
    to {opacity: 1}
}

.parentParam td{
	color:#6fb4ce;
	font-weight:700;
	background-color:#2a3039;
}

#tabBox{
	/* position: fixed; */
    left: 250px;
    width:100%;
    /* z-index: 9999; */
    margin:0;
    /* display:flex; */
    list-style: none;
    padding-left:0;
    background-color:#313742;
    color:#6b7991;
    overflow:auto;
}
#tabBox>li{
	float:left;
	padding:5px 35px 5px 15px;
	cursor:pointer;
	height:30px;
	line-height:22px;
	border-radius: 5px 5px 0 0;
    border-bottom: 0;
    margin-right: 5px;
    font-size:13px;
    position:relative;
   /*  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
#tabBox>.activeTab{
	background:#353c48;
	color:#8b99b1;
}
#tabBox>li>.delImg{
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-8px;
	width:16px;
	height:16px;
}

.leave-a-note{
	pointer-events:none;
}

/*滚动条状态*/
::-webkit-scrollbar {
width: 12px;
}
::-webkit-scrollbar-track {
background-color: #353c48;
border-left: 1px solid #4c5665;
}
::-webkit-scrollbar-thumb {
background-color: #2a3039;
}
::-webkit-scrollbar-thumb:hover {
background-color: #2a3039;
}
::-webkit-scrollbar-thumb:active{
background-color:#2a3039;
}